<div class="animals">
  <p> <%= @facade.num_of_animals %> <%= locals[:singular] ? "animal" : "animals" %> currently living in "<%= @shelter.name %>": </p>
  <ul>
    <% @facade.animals.each do |animal| %>
    <li class="animal"><%= link_to "#{animal.name} - #{animal.species}", shelter_animal_path(@shelter.id, animal.id), class: "btn btn-success btn-sm shadow-lg" %></li>
    <hr>
  <% end %>
  </ul>
</div>
