<div class="animals">
  <p> <%= @facade.num_of_animals %> <%= locals[:singular] ? "animal" : "animals" %> currently living in "<%= @shelter.name %>": </p>
  <% @facade.animals.each do |animal| %>
    <p class="animal">  <%= link_to animal.name, shelter_animal_path(@shelter.id, animal.id), class: "btn btn-success btn-sm shadow-lg" %>  </p>
      <hr>
  <% end %>
</div>
