<%= render partial: "shared/inside_shelter" %>

<style>
h1,h2 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0px black;
}
</style>

<% if @facade.user_id%>
  <main class="container">
    <%= link_to sanitize("&larr; Back to My Shelters"), user_path(current_user) %>

    <div class="header">
      <h1>New Shelter</h1>
    </div>
      <div class="new_shelter_form">
        <%= render "form", shelter: @facade,
                        path: "/shelters?user_id=#{@facade.user_id}",
                        method: :post %>
      </div>
  </main>
<% else %>
    <h1> No, no no....Go to User Dashboard ;)</h1>
    <%= image_tag("logo.jpeg", class: "img-fluid custom-img-max")%>
<% end %>
