<div class="container calendar-index-container card-text-padding">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="roboto text-center"> Calendar </h1>
      <%= month_calendar events: @events, class: ".btn-light" do |date, meetings| %>
        <%= date.day %>
        <% meetings.each do |meeting| %>
          <div>
            <%= link_to meeting.name, meeting_path(meeting)%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center">
<%= link_to "Add An Event", new_meeting_path(user_id: @facade.user_id), class: "btn btn-dark text-decoration-none", style: "font-family: 'Helvetica Neue';" %> 
</div>
<div>
~
</div>
