

<div>
<h1> Calendar </h1>
<%= month_calendar(events: @facade.user_meetings) do |date, meetings| %>
  <%= date.day %>


  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.name, meeting_path(meeting)%>
    </div>
  <% end %>
<% end %>
</div>

<div>
~
</div>