<h1> Add an Event to Your Calendar </h1>


<%= render "new_meeting_form", meeting: @facade,
                              path: "/meetings?user_id=#{@facade.user_id}",
                              method: :post %>



 