<%= link_to "Log Out", log_out_path, method: :get %>
<br>
<h1> User Dashboard </h1>
<hr>
<h4>User Email: <%= @user.email %></h4>
<br>

<%= link_to "New Shelter", "/shelters/new" %>

<h3> My Shelters </h3>
<hr>
