<h1 class="roboto">Your Chicken Tracker Dashboard</h1>
<hr>
<div class="row text-white text-center">
  <div class="col">
      <h2>Shelter Stats</h2>
  </div>
  <div class="col">
      <h2>Animal Stats</h2>
  </div>
</div>
<div class="row text-white">
  <div class="col">
      <ul>
          <li>Number of Shelters: <%= @facade.shelters.size %></li>
      </ul>
  </div>
  <div class="col">
      <ul>
          <li>Animal Types: </li>
      </ul>
  </div>
</div>
