<a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
  <i class="fs-4 bi-house-heart-fill" style="color: #564646;"></i> <span class="ms-1 d-none d-sm-inline text-red">Shelters</span><%= link_to '', user_path(current_user.id, filter: "Shelter")%>
</a>

<ul class="collapse nav flex-column ms-1 text-red" id="submenu1" data-bs-parent="#menu">
  <li class="w-100">
    <a href="<%= current_user.id %>?filter=Shelters" class="nav-link px-0"> <span class="d-none d-sm-inline">All Shelters</span> <i class="bi bi-list-ul p-2"></i></a>
  </li>
  <li class="w-100">
    <a href="/shelters/new?user_id=<%=current_user.id%>" class="nav-link px-0"> <span class="d-none d-sm-inline">New Shelter</span> <i class='bi bi-plus p-2'></i></span></a>
  </li>
</ul>

