<h1 class="roboto">Your Animal Shelters</h1>
<hr>
<div class="scrolling-wrapper horizontal-box row flex-nowrap roboto" >
  <% @facade.shelters.each do |shelter| %>
    <div class="col-5">
      <%= link_to "<div class='card-block card-1 card-text-padding'>
        <h3>#{shelter.name}</h3>
        <p>Number of animals:</p>
        <br>
         <h1>#{shelter.animals.count}</h1>
         
        </div>".html_safe, shelter_path(shelter.id, user_id: current_user.id), class: "text-decoration-none" %>
    </div>
  <% end %>
</div>


