<div style="text-align: center;">
  <h2>Welcome!</h2>

  <% if current_user %>
    <%= link_to "Log Out" %>
  <% else %>
    <%= button_to "Login", login_path %>
    <%= button_to "Register", new_user_path %>
  <% end %>
  <br> 

  <%= image_tag("logo.jpeg", style: "width: 400px; height: auto;")%>
</div>