<style>
h1,h2,p {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0px black;
}
</style>


<%= render partial: "/shared/navbar" %>

<main class="container">
  <%= link_to sanitize("&larr; Back to animal"), shelter_animal_path %>

  <div class="header">
    <h1>Edit Animal</h1>
  </div>

  <%= render "form", animal: @facade.animal,
                      path: "/shelters/#{@facade.shelter_id}/animals/#{@facade.id}",
                      method: :patch %>
</main>
